.container {
  position: relative;
  inset: 0;
  background: #fff;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & div {
    position: relative;
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    animation: circle 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
      alternate;
  }

  & div:nth-child(2) {
    animation-delay: 0.1s;
    opacity: 0.8;
  }
  & div:nth-child(3) {
    animation-delay: 0.2s;
    opacity: 0.6;
  }
  & div:nth-child(4) {
    animation-delay: 0.3s;
    opacity: 0.4;
  }
}

@keyframes circle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
